<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - HopperShopper</title>
  <link rel="stylesheet" href="~/css/layout.min.css" asp-append-version="true" />
</head>
<body>
  <header>
    <nav>
      <div id="header-title-container">
        <a asp-controller="Home" asp-action="Index">Hopper Shopper</a>
      </div>
      <form id="header-search-container" method="post">
        <input type="text" placeholder="Search products" id="search-box" name="content"/>
        <button type="submit" asp-action="Search" asp-controller="Home">Search</button>
      </form>
      <div id="header-controls-container">
        <a id="header-orders" asp-controller="Home" asp-action="Orders">Orders</a>
        <a id="header-cart" asp-controller="Home" asp-action="Cart">Cart (@ViewData["CartItemCount"])</a>
        <a id="header-profile" asp-controller="Home" asp-action="Customers">Profile</a>
      </div>
    </nav>
  </header>
  <main role="main">
    @RenderBody()
  </main>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
