<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - HopperShopper</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/HopperShopper.styles.css" asp-append-version="true" />
</head>
<body>
  <header>
    <nav>
      <div>
        <a asp-controller="Home" asp-action="Index">Hopper Shopper</a>
      </div>
      <div>
        <input type="text" placeholder="Search products" />
      </div>
      <div>
        <a asp-controller="Home" asp-action="Orders">
          View Orders
        </a>
        <a asp-controller="Home" asp-action="Cart">
          View Cart
        </a>
        <a asp-controller="Home" asp-action="Customers">
          View Profile
        </a>
      </div>
    </nav>
  </header>
  <div>
    <main role="main">
      @RenderBody()
    </main>
  </div>

  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
