#main-content-container {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#main-content-container #cart-title {
  width: 50%;
  height: 40px;
}
#main-content-container #back-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 40px;
  margin-top: 1em;
}
#main-content-container #back-button-container #back-button {
  text-align: center;
}
#main-content-container .side-menu {
  width: 24%;
  height: calc(100% - 40px);
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #023047;
  color: #fb8500;
  flex-wrap: wrap;
  border-radius: 8px 0 0 8px;
}
#main-content-container .side-menu > span {
  margin: 16px 0 0 16px;
  font-size: 2.2rem;
}
#main-content-container .side-menu > span:nth-of-type(2) {
  font-size: 1.6rem;
}
#main-content-container #cart-container {
  width: 76%;
  height: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: auto;
  border-radius: 0 8px 8px 0;
  background-color: #219ebc;
}
#main-content-container #cart-container::-webkit-scrollbar {
  width: 12px;
}
#main-content-container #cart-container::-webkit-scrollbar-track {
  background-color: #023047;
  border-radius: 0px 8px 8px 0px;
}
#main-content-container #cart-container::-webkit-scrollbar-thumb {
  background-color: #fb8500;
  border-radius: 8px;
  transition: 0.3s ease all;
}
#main-content-container #cart-container::-webkit-scrollbar-thumb:hover {
  border: 1px solid #023047;
}
#main-content-container #cart-container .cart-entry {
  width: 100%;
  height: 60px;
  background-color: #219ebc;
  border-bottom: 1px solid #023047;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main-content-container #cart-container .cart-entry .cart-entry-name {
  margin-left: 16px;
  font-weight: 500;
  font-size: 18px;
  color: #023047;
  text-decoration: none;
  flex: 2;
}
#main-content-container #cart-container .cart-entry .product-price {
  font-size: 20px;
  flex: 1;
}
#main-content-container #cart-container .cart-entry > form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-content-container #cart-container .cart-entry > form > .remove-btn {
  background-color: inherit;
  border: none;
  color: #023047;
  height: 32px;
  text-decoration: none;
  text-align: center;
  vertical-align: central;
  border-radius: 8px;
}
#main-content-container #cart-container .cart-entry > form > .remove-btn:hover {
  cursor: pointer;
  border: 4px solid red;
  font-weight: 600;
}
