#orders-container {
  width: 100%;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: auto;
}
#orders-container #orders-title {
  width: 90%;
  height: 40px;
}
#orders-container #back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 40px;
  margin-top: 1em;
}
#orders-container #back-button-container #back-button {
  text-align: center;
}
#orders-container .order {
  width: 100%;
  height: 60px;
  background-color: #219ebc;
  border-bottom: 1px solid #023047;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#orders-container .order .order-name {
  margin-left: 16px;
  font-weight: 500;
  font-size: 18px;
  color: #023047;
  text-decoration: none;
}
